body {
	background-color: #e9be2f;
}

div {
	margin: auto;
	margin-top: 300px;
	width: 700px;
	height: 200px;
}

h1 {
	font-family: Arial;
	color: white;
	font-weight: lighter;
	font-size: 4em;
	text-align: center;
}